body {
  /*background: gray;*/
  background-image: url("../img/city.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 65px;
  font-size:22px;
}

.navbar-inverse {
  background-color: #422742cc;
  font-size:20px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.carousel-caption {
  background: #1e1e1ee6;
  color: white;
  opacity: 0.8;
  border-radius:10px;
}

.panel {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius:0px !important;
  border:none !important;
}

.panel-body {
  padding: 0px;
}

iframe {
  width: 100%;
}

ul {
  list-style: none;
}

.row {
  margin: 0px;
}

p {
  text-indent: 20px;
}

#eidikes {
  width: 100%;
}

#poioi {
  background-color: #141212b3;
  background-image: url("../img/shop.jpeg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 0px;
}

#poioi ul {
  background-color: #14121299;
  margin: 0px;
}

.panel-heading {
  background-color: #76a0b6;
  colol: #dde4e7;
  text-align: center;
}

#treisLogoi {

  background-image: url("../img/shop.jpeg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 0px;
}

#treisLogoi>#accordion>div {
  background-color: #14121299;
  margin: 100px;
}


#accordion>.panel-default{
  background-color: #14121200;
}

#accordion2>.panel-default{
  background-color: #14121200;
}

 .panel-body, .panel-title, .panel-default, .panel-title,.panel-heading {
  background-color: #141212b3;
  color: #dde4e7;
  text-align: center;
}

.panel-default > .panel-heading {
    color: #fff7f7;
    background-color: #222324;
    border-color: #ddd0;
}

.panel-title{
  background-color:#0000;
}

.panel-heading{
  color:#ebf0f2;
  background-color: #2c3032;
}

.panel-body{
  background-color: #422742cc;
  text-align:left;
}

#fthinoAkrivo {
  /*background-color: #141212b3;*/
  background-image: url("../img/apolimansi.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 0px;
}

#alloFirst {
  /*background-color: #141212b3;*/
  background-image: url("../img/kipoi.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 0px;
}

#alloSecond {
  /*background-color: #141212b3;*/
  background-image: url("../img/alloSecond.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 0px;
}

#epikinwniaup{
  background-image: url("../img/phone.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 0px;
  font-size:20px;
  text-align:center;
}

#epikinwniaup>.panel-body{
  text-align:center;
}

#topothesia{
  padding:0px;
}

.panel-heading{
  color:#ebf0f2 !important;
  font-weight:bold !important;
  background-color: #291d28 !important;
  border:none !important;
}

.logoi{
  text-align:center;

}

.logoi>img{
  width:100%;
  /*height: auto;*/
  margin: 10px;
  border:solid black 2px;

}
